<div class="container">
  <div class="schedule_wrap">
    <div class="row">
      <div class="col-md-8">
        <h2> When is everyone free? </h2>
      </div>
      <div class="col-md-4">
        <h2><%= link_to new_schedule_path do %>
        <i class="fa fa-calendar"></i> Mark the calendar!
        <% end %></h2>
      </div>
    </div>
<br>
    <div class="row">
      <div class="col-md-8">
        <%= month_calendar events: @availability, table: {class: "table table-bordered"}, tr: {class: "calendar-row"}, td: {class: "day"} do |date, available| %>
          <%= date.strftime("%d") %>
          <% available.each do |a| %>
            <div><%= a.name %></div>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-4">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Start time</th>
              <th colspan="3"></th>
            </tr>
          </thead>
          <tbody>
            <% @availability.each do |a| %>
              <tr>
                <td><%= a.name %></td>
                <td><%= a.start_at %></td>
                <td><%= link_to schedule_path(a) do %>
                  <i class="fa fa-info"></i>
                <% end %></td>
                <td><%= link_to edit_schedule_path(a) do %>
                  <i class="fa fa-pencil"></i>
                <% end %></td>
                <td><%= link_to schedule_path(a), method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <i class="fa fa-trash-o"></i>
                <% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>