<div class="container">
<h2>Check your availability below. Edit if necessary.</h2>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @availability.name %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @availability.start_at %>
</p>

<%= link_to 'Edit', edit_schedule_path(@availability) %>
<%= link_to 'Add More', new_schedule_path %>
<%= link_to 'Return to Calendar', schedule_index_path %>
</div>