<table>
  <thead>
    <tr>
      <th>Dress Moniker</th>
      <th>Dress Preview</th>
      <% if current_user %>
        <th>Vote</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @dress.each do |d| %>
      <tr>
        <td><%= d.name %></td>
        <td><%= image_tag d.image_url(:thumb).to_s %></td>
        <td><%= d.votes.count %></td>
        <td>
          <% if current_user %>
            <%= button_to "Vote", vote_dress_path(d), class: "btn btn-default" %>
          <% end %>
        </td>
        <td>
          <% if @faves.include? d.id %>
            <%= form_tag unfavorite_dress_path(d), method: :patch do %>
              <button class="btn btn-default">Unfavorite</button>
            <% end %>
          <% else %>
            <%= form_tag favorite_dress_path(d), method: :post do %>
              <button class="btn btn-default">Favorite</button>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>