<!-- <div class="container ">
  <div class="row">
    <div class="col-lg-4">
 -->
<table class='table-responsive'>
  <thead>
    <tr>
      <th>Dress Moniker</th>
      <th>Dress Preview</th>
      <% if current_user %>
        <th>Vote</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @dress.each_slice(3) do |row| %>
      <tr>
        <% row.each do |d| %>
        <td><%= d.name %></td>
        <td><%= image_tag d.image_url(:thumb).to_s %></td>
        <td><%= d.votes.count %></td>
        <td>
          <% if current_user %>
            <%= button_to vote_dress_path(d), class: "btn btn-default" do %>
              <i class="fa fa-thumbs-o-up"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if @faves.include? d.id %>
            <%= button_to unfavorite_dress_path(d), method: :patch, class: "btn btn-default" do %>
              <i class="fa fa-heart"></i>
            <% end %>
          <% else %>
            <%= button_to favorite_dress_path(d), class: "btn btn-default" do %>
              <i class="fa fa-heart-o"></i>
            <% end %>
          <% end %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>