<div class="container">
  <div class="row">
    <div class="col-md-9">
      <table>
        <thead>
          <tr>
            <th><h2>Category</h2></th>
            <th><h2>Cost</h2></th>
            <th><h2>Update</h2></th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <% @budget.each do |b| %>
            <td><%= b.category %></td>
            <td><%= b.cost %></td>
            <%= form_tag budget_path(b[:id]), action: :update, method: :patch do %>
              <td><%= text_field_tag :cost %>
              <button class="btn btn-default">update</button>
            <% end %></td>
          </tr>
          <tr>
          <%= form_tag budget_index_path, action: :create, method: :post do %>
            <td><%= text_field_tag :category, nil, placeholder: 'Category' %></td>
            <td><%= text_field_tag :cost, nil, placeholder: 'Cost' %></td>
            <td><button>Create</button></td>
          <% end %>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>