<h1>Discussion Forum</h1>

<%= link_to 'Have something to add?', new_post_path %>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr> 
      <th> Subject </th>
      <th> Posted </th>
      <th> Options </th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |p| %>
      <tr>
        <td><%= link_to p.title, post_path(p) %> </td>
        <td><%= p.created_at %> </td>
      
        <td><%= link_to 'Edit', edit_post_path(p) %></td>
        <td><%= link_to 'Remove', post_path(p),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div>
  <%= form_tag search_yelp_path, action: "search", method: "get" do %>
    <%# label :term #put in placeholder styling  %>
    <%= text_field_tag :term %>
    <%# label :category_filter #put in placeholder styling %>
    <%= text_field_tag :category_filter%>
    <button>Search Yelp for Ideas</button>
  <% end %>
  <div id="yelp_search_results"></div>
</div>

<script type="application/javascript">
  var add_search_results = function(response) {
    console.log(response);
    var yelpHTML = '<ul class="bulleted">';
    $.each(response, function (index, result){
      yelpHTML += '<li>'+result.name+" "+result.address[0]+", "+result.address[1]+'</li>';
    });
    yelpHTML += '</ul>';
    $('#yelp_search_results').append(yelpHTML);
  };

  $(document).ready(function() {
    $('form').submit(function(e) {
      e.preventDefault();
      var url = $(this).attr("action");
      var formData = $(this).serialize();
      $.ajax(url, {
        data : formData,
        type: "GET",
        success: add_search_results
      });
    });
  });
</script>