<div class="container">
<h2>These are my thoughts.. what are yours?</h2>

<div class="container">
<p> 
<strong>Subject:</strong>
<%= @post.title %>
</p>
<p>
<strong>Body:</strong>
<%= @post.body %>
</p>
</div>

<div class="container">
<% @post.comments.each do |c| %>
  <p>
    <strong>Commenter:</strong>
    <%= c.commenter %>
  </p>
  <p>
    <strong>Comment:</strong>
    <%= c.blurb %>
  </p>
<% end %>
</div>

<div class="container">
<h2>Add a comment: </h2>
<%= form_for [@post, @post.comments.build] do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :blurb %><br>
    <%= f.text_area :blurb %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<div class="container">

<%= link_to 'Back', posts_path %> 
<%= link_to 'Edit', edit_post_path(@post) %>
</div>