<h3> Availability </h3>

<%= month_calendar events: @availability, table: {class: "table table-bordered"}, tr: {class: "calendar-row"}, td: {class: "day"} do |date, available| %>
  <%= date.strftime("%d") %>
  <% available.each do |a| %>
    <div><%= a.name %></div>
  <% end %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @availability.each do |a| %>
      <tr>
        <td><%= a.name %></td>
        <td><%= a.start_at %></td>
        <td><%= link_to 'Show', bridalshower_path(a) %></td>
        <td><%= link_to 'Edit', edit_bridalshower_path(a) %></td>
        <td><%= link_to 'Destroy', bridalshower_path(a), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Availablity', new_bridalshower_path %>