<div class="container">
  <div class="col-sm-10">
    <h2>Edit Your Profile<small></small></h2>
    <p class="lead">Input data into the fields where you want your data overwritten.</p>
    <form class="form-horizontal" action="/users/profile/edit" method="POST" role="form">

      <div class="form-group">
        <label class="col-sm-2 control-label">Username</label>
        <div class="col-sm-6">
          <p class="form-control-static"><%= current_user.name %></p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Email</label>
        <div class="col-sm-6">
          <p class="form-control-static"><%= current_user.email %></p>
        </div>
      </div>

      <div class="form-group">
        <label for="home_town" class="col-sm-2 control-label">Hometown</label>
        <div class="col-sm-6">
          <select class="form-control" name="home_town" value="<%= current_user.home_town %>" id="home_town">
            <option value=""></option>
            <% @states.each do |state| %> 
              <% if current_user.home_town == state["abbr"] %>
                <%= "<option value=\"#{state["abbr"]}\" selected>#{state["name"]}</option>" %>
              <% else %>
                <%= "<option value=\"#{state["abbr"]}\">#{state["name"]}</option>" %>
              <% end %>
            <% end %>
          </select>   
        </div>
        <p class="help-block">Select your home town.</p>
      </div>

      <div class="form-group">
        <label for="avatar_url" class="col-sm-2 control-label">Avatar URL</label>
        <div class="col-sm-6">
          <input class="form-control" name="avatar_url" value="<%= current_user.avatar_url %>">
        </div>
        <p class="help-block">Right click any image and select "Copy Image URL".</p>
      </div>

      <div class="form-group">
        <label for="story" class="col-sm-2 control-label">Short Story</label>
        <div class="col-sm-6">
          <textarea class="form-control" placeholder="Tell us how you know the bride." rows=4 name="story" id="story"><%= current_user.story %></textarea>
        </div>
      </div>

      <input type="hidden" name="_method" value="PATCH">

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>

    </form>
  </div>
</div>