<h2>Edit Your Profile</h2>
<p>Input data into the fields where you want your data overwritten.</p>

<%= form_for @profile, url: profile_path(@profile), method: :patch do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :hometown %>
  <%= f.text_field :story %> 
  <%= f.submit %>
<% end %>