<div class="container">
  <div class="row">
    <div class="col-sm-5">
      <div class="page-header">
        <h2><%= "#{current_user.name}'s Profile: "%></h2>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <p class="lead"><strong>Email: </strong><%= current_user.email %></p>
          <p class="lead"><strong>Hometown: </strong><%= current_user.hometown %></p>
          <p class="lead"><strong>Years you've known the bride: </strong><%= current_user.years %></p>
          <p class="lead"><strong>How you know the bride: </strong><%= current_user.story %></p>
          
          <div style="padding: 2em 0em;"> 
          <form method="get" action="<%= edit_profile_path(current_user.id) %>"><button class="btn btn-info" type="submit">Edit Your Profile</button></form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>